header {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;

    h1 {
        margin-top: 3rem;
    }

    #theme-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        float: right;
        margin-top: 3.5rem;
    }

    .theme-btn {
        width: 6rem;
        height: 6rem;
        padding: 0.5em;
        border-radius: 50%;
        margin-right: 1rem;
        padding: 1rem;
    }

    .purple {
        background-color: #c0a7eb;
        border: solid #d0bef2 0.5rem;
    }

    .pink {
        background-color: #ff8fab;
        border: solid #ffb3c6 0.5rem;
    }

    .blue {
        background-color: #00b4d8;
        border: solid #90e0ef 0.5rem;
    }

    .green {
        background-color: #b5c99a;
        border: solid #cfe1b9 0.5rem;
    }

    .yellow {
        background-color: #ffe566;
        border: solid #ffee99 0.5rem;
    }
}

:root,
:root.purple {
    --clr-main-bg: #e1d8f7;
    --clr-h1: #c0a7eb;
    --clr-outline: #d0bef2;
    --clr-box-bg: #c0a7eb;
    --clr-font: #e1d8f7;
    font-family: 'Tahoma', 'Verndana', sans-serif;
}

:root.pink {
    --clr-main-bg: #ffe5ec;
    --clr-h1: #ff8fab;
    --clr-outline: #ffb3c6;
    --clr-box-bg: #ff8fab;
    --clr-font: #ffe5ec;
    font-family: 'Tahoma', 'Verndana', sans-serif;
}

:root.blue {
    --clr-main-bg: #caf0f8;
    --clr-h1: #00b4d8;
    --clr-outline: #90e0ef;
    --clr-box-bg: #00b4d8;
    --clr-font: #caf0f8;
    font-family: 'Tahoma', 'Verndana', sans-serif;
}

:root.green {
    --clr-main-bg: #e9f5db;
    --clr-h1: #b5c99a;
    --clr-outline: #cfe1b9;
    --clr-box-bg: #b5c99a;
    --clr-font: #e9f5db;
    font-family: 'Tahoma', 'Verndana', sans-serif;
}

:root.yellow {
    --clr-main-bg: #fff6cc;
    --clr-h1: #ffe566;
    --clr-outline: #ffee99;
    --clr-box-bg: #ffe566;
    --clr-font: #fff6cc;
    font-family: 'Tahoma', 'Verndana', sans-serif;
}


body {
    background-color: var(--clr-main-bg);

    h1 {
        margin-left: 2rem;
        color: var(--clr-h1);
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 2rem;

        .add-task {
            height: 8rem;
            font-size: 4rem;
            width: 38rem;
            background-color: var(--clr-box-bg);
            color: var(--clr-font);
            border-radius: 0.75rem;
            border: solid var(--clr-outline) 1rem;
            margin-right: 1rem;
        }

        .btn {
            height: 10rem;
            width: 10rem;
            border-radius: 0.75rem;
            background-color: var(--clr-box-bg);
            border: solid var(--clr-outline) 1rem;

            i {
                font-size: 2rem;
                color: var(--clr-font);
            }
        }
    }

    #tasks {
        min-height: 0;
        overflow-y: auto;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        flex-grow: 1;
    }

    .itembox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;
        font-size: 5rem;
        width: 50rem;
        margin: 1rem;
        background-color: var(--clr-box-bg);
        color: var(--clr-font);
        border-radius: 0.75rem;
        border: solid var(--clr-outline) 1rem;
        text-align: center;
    }

    .completed {
        opacity: 0.5;
    }

    .completed .output {
        text-decoration: line-through;
    }

    .actions {
        margin-top: 1rem;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: var(--clr-h1);
        background-color: var(--clr-main-bg);
        padding-top: 2rem;

        i {
            font-size: 3rem;
            font-weight: bold;
            color: var(--clr-h1);
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    footer {
        align-items: center;
        font: 2rem;
        color: var(--clr-h1);
    }
}

@media screen and (min-width: 49rem) {
    header {
        font-size: 1rem;

        h1 {
            margin-top: 1rem;
        }

        #theme-buttons {
            margin-top: 1rem;
        }

        .theme-btn {
            width: 3rem;
            height: 3rem;
            padding: 0.25em;
        }
    }

    body {
        form {
            margin-top: 2rem;
            margin-bottom: 1rem;

            .add-task {
                height: 4rem;
                font-size: 2rem;
                width: 50rem;
                margin-right: 0.75rem;
                margin-left:-0.75rem;
            }

            .btn {
                height: 6rem;
                width: 6rem;

                i {
                    font-size: 1rem;
                }
            }
        }

        .itembox {
            height: 4rem;
            font-size: 3rem;
            width: 57rem;
            margin: 0.5rem;
        }

        .actions {
            font-size: 1.5rem;
            padding-top: 1rem;

            i {
                font-size: 1.5rem;
            }
        }
    }
}