header{
    display: flex;
    justify-content: space-between;
    font-size: 3rem;

    .dot {
        height: 3rem;
        width: 3rem;
        margin-top: 5.5rem;
        margin-right: 2rem;
        padding: 1rem;
        background-color: #bbb;
        border-radius: 50%;
    }
}    